language: java
install: true
os: linux
dist: trusty
jdk: openjdk8
stages:
- name: build
- name: snapshot
  if: branch = master AND type IN (push)
- name: release
  if: "(branch = release-0.7.x OR branch = release-0.8.x OR branch = release-0.9.x)
    AND type IN (push)"
jobs:
  include:
  - stage: build
    script: "./gradlew --stacktrace build"
  - stage: release
    script: "./gradlew --stacktrace -DsonatypeUsername=inversion -DsonatypePassword=$SONATYPE_PASSWORD"
before_cache:
- rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
- rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
  - "$HOME/.gradle/caches/"
  - "$HOME/.gradle/wrapper/"
before_install:
- openssl aes-256-cbc -K $encrypted_2fc2577d012c_key -iv $encrypted_2fc2577d012c_iv
  -in cd/gradle.properties.enc -out cd/gradle.properties -d
- cat cd/gradle.properties >> gradle.properties
- openssl aes-256-cbc -K $encrypted_81c98acad902_key -iv $encrypted_81c98acad902_iv
  -in cd/codesigning.asc.enc -out cd/codesigning.asc -d
- gpg --fast-import cd/codesigning.asc
env:
  global:
  - secure: kGnWnnGuq55khmsjqyHmeHr11soSRyaK8gGDN6tmDxVaO1OSQ/x8kOU7tk7iS458wOJPI1vPs/5S9H5OlWjRZ9QuCADTvFTpXBmBMPKHpPcVa8a9femWFlL0/v9c/2urc2F/CutewV41JXgfRoq1avIlC8xL5SeGA9MWsi5hYbVLUqBb6BDsg5hcc52zJ6rp57jfNlwUa/0EEcth/8eqPn7d/omdaBbnXdAmEoe53wnVXmOvRLsRClwBWvHvS5H3lMl8nLAf3prwK2QNv8iw8AN+FBbGFiIgVYxjQSt2kNnQNXPaxdIzA/Y+oei2Aa1pKIXjWcng8iCHAQJLU0J5Lt16uLR/Fmhs2ORi74cDd2wSxYiHuZHwfAUdWGc2dx/RROEFk04QXXI/60C6U+eUmeWv4Av+knZYasRytG7tFBKGRTaNjHYRP5T4d0wb7jwVFVLW9ZsJ9IKyQwgaPmpggGqxBYZLEcQ5ACQH0NMYA1uSKZTuA+9f2wPueTcwQZZYK/+bS9j4xRgDBtxOIXOiaNn60zLZ2+R+XDL5/LqKdNSumMEvcgXoBkM7cS/8bF9AVlP7HpFAsyb7C+nKNAtgyaPl7y3ymWYG+kDJ/aqAlx1xMJh0nFx/MdQira8jv+buJH39Mjd4hJeau2DGQB7NHtjHs7HZkOSIxKcqDOIwE4s=
