#switch($case)
	
	##==========================================================
	#case("action1")
		#parse("action1.vm")

	##==========================================================
	#case("action2")
		reportA/action2
		this is action2 body text
	##==========================================================
	#default
		#parse("list.vm")
#end
	