<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Snooze API as a Service Platform</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<filter>
		<filter-name>GZIPFilter</filter-name> <!-- mandatory -->
		<filter-class>io.rcktapp.utils.GZIPFilter</filter-class> <!-- mandatory -->
	</filter>

	<filter-mapping>
		<filter-name>GZIPFilter</filter-name> <!-- mandatory -->
		<!-- <url-pattern>/*</url-pattern>  either url-pattern or servlet-name is mandatory -->
		<servlet-name>Snooze</servlet-name>
		<!-- <dispatcher>REQUEST</dispatcher> -->
	</filter-mapping>

	<servlet>
		<description></description>
		<display-name>Snooze</display-name>
		<servlet-name>Snooze</servlet-name>
		<servlet-class>io.rcktapp.api.service.Snooze</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Snooze</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
</web-app>